<div class="top-line-wrapper">
  <div class="logo">
    <a class="nav-link" routerLink="/">
      <img src="../../../assets/design_Limehome Logo.svg" alt="">
    </a>
  </div>
  <div class="menu-trigger-button">
    <img src="../../../assets/burger_icon.svg" alt="">
  </div>
  <nav class="main-menu">
    <ul>
      <li><a href="#">some menu element</a></li>
      <li><a href="#">some menu element</a></li>
      <li><a href="#">some menu element</a></li>
      <li><a href="#">some menu element</a></li>
    </ul>
  </nav>
</div>